<h1><%= @channel.name %></h1>
<div>
  <%=for post <- @posts do %>
    <div>
      <div><%= post.song %></div>
      <div><%= post.album %></div>
      <div><%= post.musician %></div>
      <div><%= post.url %></div>
      <div><%= post.image %></div>
    </div>
  <% end %>
</div>
<form action="#" phx-submit="post">
  <%= text_input :post, :url, placeholder: "Song" %>
  <%= submit "Create", phx_disable_with: "Creating..." %>
</form>
