<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content="<%= Plug.CSRFProtection.get_csrf_token() %>"/>
    <!-- HTML Meta Tags -->
    <title>Radiopush.app</title>
    <meta name="description" content="Music comes first, a place to share and discover songs">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://radiopush.app">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Radiopush.app">
    <meta property="og:description" content="Music comes first, a place to share and discover songs">
    <meta property="og:image" content="https://radiopush.app/images/og_image.png">
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="radiopush.app">
    <meta property="twitter:url" content="https://radiopush.app">
    <meta name="twitter:title" content="Radiopush.app">
    <meta name="twitter:description" content="Music comes first, a place to share and discover songs">
    <meta name="twitter:image" content="https://radiopush.app/images/og_image.png">
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/assets/app.js") %>"></script>
  </head>
  <body class="text-white bg-gray-900 p-0 m-0 font-sans">
    <%= @inner_content %>
  </body>
</html>
